@charset "utf-8";

/* button */
.MuiButton-root { min-width: 7rem !important; font-family: "Pretendard" !important; 
    // size
    &.MuiButton-sizeSmall { font-size: 1.3rem; line-height: 2.2rem; letter-spacing: 0.46px; }
    &.MuiButton-sizeMedium { height: 4rem; font-size: 1.4rem; }
    &.MuiButton-sizeLarge { font-size: 1.5rem; line-height: 2.6rem; letter-spacing: 0.46px; }

    // variant
    &.MuiButton-text { }
    &.MuiButton-contained { }
    &.MuiButton-outlined { }
}

/* chip */
.MuiChip-root { 
    .MuiChip-label { padding: 0.3rem 1rem; font-family: "Pretendard" !important; }
    // size
    &.MuiChip-sizeSmall { font-size: 1.3rem; line-height: 1.8rem; letter-spacing: 0.16px; }
}

/* form */
// 1. textfield
.MuiTextField-root {
    .MuiInputBase-root { height: 4rem; font-size: 1.6rem; font-weight: 400; line-height: 2.4rem; letter-spacing: 0.15px; color: rgba(0, 0, 0, 0.6); font-family: "Pretendard"; }
}

// 2. select
.MuiInputBase-root {
    .MuiSelect-select { font-family: "Pretendard"; }
    &.MuiInputBase-sizeSmall { font-size: 1.6rem; font-weight: 400; line-height: 2.4rem; letter-spacing: 0.15px; color: rgba(0, 0, 0, 0.87); }
}

// 3. pagination
.MuiPaginationItem-root { font-size: 1.4rem !important; }