@charset "utf-8";

/* 1. button */
.MuiButton-root { min-width: 7rem !important; font-family: "Pretendard" !important; white-space: nowrap;
  // size
  &.MuiButton-sizeSmall { font-size: 1.3rem; line-height: 2.2rem; letter-spacing: 0.46px; }
  &.MuiButton-sizeMedium { height: 4rem; font-size: 1.4rem; }
  &.MuiButton-sizeLarge { padding: 0.8rem 1.1rem; font-size: 1.5rem; line-height: 2.6rem; letter-spacing: 0.46px; }

  // variant
  &.MuiButton-text { }
  &.MuiButton-contained { }
  &.MuiButton-outlined { }
}

/* 2. chip */
.MuiChip-root { 
  .MuiChip-label { padding: 0.3rem 1rem; font-size: 1.3rem; line-height: 1.8rem; letter-spacing: 0.16px; font-family: "Pretendard" !important; }
}

/* 3. form */
// 3-1. textfield
.MuiTextField-root { width: 100%;
  .MuiInputBase-root { font-size: 1.6rem; font-weight: 400; line-height: 2.4rem; letter-spacing: 0.15px; color: var(--text-secondary); font-family: "Pretendard";
    .MuiInputBase-input { padding: 1.6rem 1.2rem; }
    .MuiInputBase-inputSizeSmall { padding: 0.8rem 1.2rem; }
    fieldset { top: 0; 
      legend { display: none; }
    }
    textarea { min-height: 12rem; padding: 0 !important; }
  }
}
.count-str { padding: 0.3rem 1.4rem; 
  p { font-size: 1.2rem; line-height: 166%; letter-spacing: 0.4px; color: var(--text-secondary); text-align: right; }
}
// 3-2. select
.MuiInputBase-root {
  .MuiSelect-select { font-size: 1.6rem; font-weight: 400; line-height: 2.4rem; letter-spacing: 0.15px; color: var(--text-primary); font-family: "Pretendard"; }
  fieldset { top: 0; 
    legend { display: none; }
  }
}
// 3-3. radio
.MuiFormControl-root { gap: 0 !important;
  .MuiFormLabel-root { font-size: 1.6rem; line-height: 150%; letter-spacing: 0.15px; color: var(--text-primary); }
  .MuiRadioGroup-root {
    .MuiSvgIcon-root { font-size: 2.4rem; }
    .MuiTypography-root { font-size: 1.6rem; font-weight: 400; line-height: 150%; letter-spacing: 0.15px; color: var(--text-primary); }
  }
}
// 3-4. checkbox
.MuiFormGroup-root {
  .MuiCheckbox-root {
    .MuiSvgIcon-root { font-size: 2.4rem; }
  }
  .MuiTypography-root { font-size: 1.6rem; font-weight: 400; line-height: 150%; letter-spacing: 0.15px; color: var(--text-primary); }
}

/* 4. pagination */ 
.MuiPaginationItem-root { font-size: 1.4rem !important; }

/* 5. project card(공통 컴포넌트로 생성할 예정) */
.project-box { min-width: 0; padding: 1.6rem 2.4rem; gap: 1.2rem; cursor: pointer;
  .chip-box { gap: 0.4rem; }
  .main-text { font-size: 2rem; font-weight: 600; line-height: 120%; color: #000; }
  .sub-text { gap: 0.8rem; 
    .top { gap: 2.4rem;
      > div { gap: 0.8rem;
        .title, p { gap: 0.4rem; font-size: 1.1rem; font-weight: 500; line-height: 1.6rem; letter-spacing: 0.5px; color: var(--text-primary);
          .MuiSvgIcon-root { width: 1.4rem; height: 1.4rem; color: #667EEA; }
        } 
        p { color: var(--text-disabled); }
      }
    }
    .bottom { 
      p { font-size: 1rem; font-weight: 300; line-height: 100%; color: #000; }
    }
  }
}

/* 6. tooltip */
.MuiTooltip-tooltip { font-size: 1.2rem !important; font-weight: 400 !important; font-family: "Pretendard"; }

/* 7. tabs */
.MuiButtonBase-root {
  &.MuiTab-root { padding: 0.9rem 1.6rem !important; font-size: 1.4rem; font-weight: 500; line-height: 2.4rem; letter-spacing: 0.4px; color: var(--text-secondary); }
}
