@charset "utf-8";

/*** MUI ***/
/* 1. button */
.MuiButton-root { min-width: 7rem !important; white-space: nowrap; text-transform: none !important;
  // size
  &.MuiButton-sizeSmall { font-size: 1.3rem; line-height: 2.2rem; letter-spacing: 0.46px; }
  &.MuiButton-sizeMedium { height: 4rem; font-size: 1.4rem; }
  &.MuiButton-sizeLarge { padding: 0.8rem 1.1rem; font-size: 1.5rem; line-height: 2.6rem; letter-spacing: 0.46px; }

  // variant
  &.MuiButton-text { }
  &.MuiButton-contained { }
  &.MuiButton-outlined { }

  // .MuiSvgIcon-root { font-size: 1.2rem !important; }
}

/* 2. chip */
.MuiChip-root { 
  .MuiChip-label { padding: 0.3rem 1rem; font-size: 1.3rem; line-height: 1.8rem; letter-spacing: 0.16px; }
}

/* 3. form */
// 3-1. textfield
.MuiTextField-root { width: 100%;
  .MuiInputBase-root { font-size: 1.6rem; font-weight: 400; line-height: 2.4rem; letter-spacing: 0.15px; color: var(--text-secondary);
    .MuiInputBase-input { padding: 1.6rem 1.2rem; }
    .MuiInputBase-inputSizeSmall { padding: 0.8rem 1.2rem; }
    fieldset { top: 0; 
      legend { display: none; }
    }
    textarea { padding: 0 !important; }
  }
}
.count-str { padding: 0.3rem 1.4rem; 
  p { font-size: 1.2rem; line-height: 166%; letter-spacing: 0.4px; color: var(--text-secondary); text-align: right; }
}
// 3-2. select
.MuiInputBase-root {
  .MuiSelect-select { font-size: 1.6rem; font-weight: 400; line-height: 2.4rem; letter-spacing: 0.15px; color: var(--text-primary); }
  fieldset { top: 0; 
    legend { display: none; }
  }
}
// 3-3. radio
.MuiFormControl-root { gap: 0 !important;
  .MuiFormLabel-root { font-size: 1.6rem; line-height: 150%; letter-spacing: 0.15px; color: var(--text-primary); }
  .MuiRadioGroup-root {
    .MuiSvgIcon-root { font-size: 2.4rem; }
    .MuiTypography-root { font-size: 1.6rem; font-weight: 400; line-height: 150%; letter-spacing: 0.15px; color: var(--text-primary); }
  }
}
// 3-4. checkbox
.MuiFormGroup-root {
  .MuiCheckbox-root {
    .MuiSvgIcon-root { font-size: 2.4rem; }
  }
  .MuiTypography-root { font-size: 1.6rem; font-weight: 400; line-height: 150%; letter-spacing: 0.15px; color: var(--text-primary); }
}

/* 4. pagination */ 
.MuiPaginationItem-root { font-size: 1.4rem !important; }

/* 5. tooltip */
.MuiTooltip-tooltip { font-size: 1.2rem !important; font-weight: 400 !important; }

/* 6. tabs */
.MuiButtonBase-root {
  &.MuiTab-root { padding: 0.9rem 1.6rem !important; font-size: 1.4rem; font-weight: 500; line-height: 2.4rem; letter-spacing: 0.4px; color: var(--text-secondary); }
}

.MuiDialog-container {
  padding: 120px 0;
}

/*** CUSTOM ***/
// 1. heart button
.heart-box { 
  .heart-count { width: 3.4rem; font-size: 1.4rem; line-height: 166%; letter-spacing: 0.4px; color: var(--error-main); text-align: center; }
}