@charset "utf-8";

:root {
    /* 임시 color */
    --text-primary: rgba(0, 0, 0, 0.87);
    --text-secondary: rgba(0, 0, 0, 0.6);
    --text-disabled: rgba(0, 0, 0, 0.38);
    --primary-main: #2196F3;
    --error-main: #D05B5B;
    --avatar-fill: #BDBDBD;
}

